@font-face {
	font-family: "Miso";
  src: url("../fonts/Miso-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: "Miso-n";
  src: url("../fonts/Miso.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
