svg g line.inactive,circle.inactive {
  opacity: 0
}
// svg g circle, #Circles_1_ path {
//   opacity: 0
// }

.lijnenscreensaver-svg line, .lijnenscreensaver-svg line path, .lijnenscreensaver-svg circle {
  stroke: #ffffff !important;
  stroke-width: 1.5px !important;
}

// .lijnenscreensaver-svg g#LIJNEN * {
//   stroke: red !important;
// }
// .lijnenscreensaver-svg g#LIJNEN1 * {
//   stroke: blue !important;
// }
// .lijnenscreensaver-svg g#LIJNEN2 * {
//   stroke: green !important;
// }
// .lijnenscreensaver-svg g#LIJNEN3 * {
//   stroke: yellow !important;
// }

// .lijnenscreensaver-svg > #Laag_1 > line, .lijnenscreensaver-svg > #Laag_1 > path {
//   fill: red;
//   stroke: red !important;
// }
// .lijnenscreensaver-svg > #Laag_1 > path {
//   display: none;
// }

// .st0 {
//   stroke: blue !important;
// }
// .st1 {
//   stroke: red !important;
// }
// .st2 {
//   stroke: green !important;
// }
// .st3 {
//   stroke: yellow !important;
// }

// .st4 {
//   stroke: purple !important;
// }