@import './fonts.scss';
@import './titles.scss';
@import './lijnen.scss';

// @font-face
// 	font-family: 'Bree'
//   src: url('~../fonts/BreeSerif-Regular.otf') format('opentype')
//   font-style: normal

body {
  font-family: 'Miso';
}
  
.lijnen-screensaver-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.hidden {
  opacity: 0;
}