.screensaver-title-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.title-div {
  font-family: 'Miso-n';
  position: absolute;
  pointer-events: none;
  font-size: 70px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  background-color: aliceblue;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2rem;
  height: 84px;
  opacity: 0;
  will-change: transform;
}